.store-background {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-head {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .store-head {
    font-size: 42px;
  }
}

.search-bar {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  outline: none;
  border: 0px;
  background-color: transparent;
}

.search-icon {
  height: 20px;
  width: 40px;
  padding-right: 20px;
}
.search-container {
  border: 1px solid #7b8794;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.tab-container {
  display: flex;
  align-items: flex-end;
  padding: 0;
}
.app-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
